*{
    padding: 0;
    margin: 0;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
}
.choice:hover{
    opacity:0.5;
    cursor: pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 3rem;
}
#us{
    font-size: 4rem;
    
}
#msg{
    margin-top: 5rem;
    background-color: #081b31;
    color:white;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}